
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Shared style */




/* banner start header */

header{
  
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px;
    width: 100%;
    max-width:60%;
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.5);
    font-family: "Merriweather", serif;
  
}

.header .sub-title {
    text-align: center; 
    color: black;
    font-weight: 900;
    font-family: "Merriweather", serif;
    
   
}

.header .title{ 
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 40px;
    font-family: "Merriweather", serif;
}

/* main{
    max-width: 600px;
} */

/* off style start */

.off{
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    font-family: "Merriweather", serif;
}

.off .title{
    color: #FF0000;
    font-size: 70px;
}

.off .description{
    color: #FF0000;
    font-size: 22px;
}

.off .sub-title{
    color: #070211;
    font-size: 40px;
}

/* welcome style start here */

.welcome{
    width: 100%;
    max-width:60%;
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    margin: 0 auto;
    opacity: 0.8;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-bottom: 60px;
    font-family: "Merriweather", serif;
}

.welcome .title{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bolder;
}

.welcome .description{
    color: #FFFFFFCC;
    font-weight: bolder;
    font-size: 16px;
}

.welcome .sub-description{
    color: #FFFFFF;
    font-weight: bolder;
}


/* event style start */

.event{
    font-size: 25px;
    font-family: "Merriweather", serif;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to bottom, #ff5733, #ffffff);
    padding: 100px;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;

}

.event span{
    color: rgba(255, 0, 0, 1);
    font-weight: bold;
}
