@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Shared style */

.offer-description {
    font-size: 13px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}


/* banner start header */

header {

    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Merriweather", serif;

}

.header .sub-title {
    text-align: center;
    color: black;
    font-weight: 900;
    font-family: "Merriweather", serif;


}

.header .title {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 40px;
    font-family: "Merriweather", serif;
}

/* main{
    max-width: 600px;
} */

/* off style start */

.off {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    font-family: "Merriweather", serif;
}

.off .title {
    color: #FF0000;
    font-size: 70px;
}

.off .description {
    color: #FF0000;
    font-size: 22px;
}

.off .sub-title {
    color: #070211;
    font-size: 40px;
}

/* welcome style start here */

.welcome {
    width: 100%;
    max-width: 60%;
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    margin: 0 auto;
    opacity: 0.8;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-bottom: 60px;
    font-family: "Merriweather", serif;
}

.welcome .title {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bolder;
}

.welcome .description {
    color: #FFFFFFCC;
    font-weight: bolder;
    font-size: 16px;
}

.welcome .sub-description {
    color: #FFFFFF;
    font-weight: bolder;
}


/* event style start */

.event {
    font-size: 25px;
    font-family: "Merriweather", serif;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to bottom, #ff5733, #ffffff);
    padding: 100px;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;

}

.event span {
    color: rgba(255, 0, 0, 1);
    font-weight: bold;
}

.btn {
    background-color: rgba(255, 0, 0, 1);
    color: #FFFFFF;
    border: none;
    padding: 8px 20px 8px 20px;
    /* top-right-bottom-left */
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* offer style start here */

.offer-container {
    width: 100%;
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: "Merriweather", serif;

}

.offer-first .sub-title {
    color: rgba(255, 0, 0, 1);

}

.offer-first .title {
    font-weight: bolder;
}

.offer-second {
    border: 10px solid rgba(255, 0, 0, 1);
    border-radius: 50%;
    /* it's apply to make solid border Circle, how much need to be circle depending on the image width usually 50% from total width*/
    padding: 20px;
}

.offer-second .second-img {
    width: 200px;
    height: auto;
}

.offer-third {
    margin-left: 30px;

}

.offer-third h3 {
    color: #FF0000;
    font-size: 30px;
    font-weight: bold;
}

.offer-third img {
    width: 100px;
    height: auto;
}

/* sale style start here */

.sale-container {
    font-family: "Merriweather", serif;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.sale-subtitle {
    color: rgba(7, 2, 17, 1);
    font-size: 16px;
    margin-bottom: 16px;
}

.sale-title {
    font-size: 72px;
    margin: 0;
    margin-bottom: 28px;
    font-weight: 900;
}

.spn {
    color: rgba(255, 0, 0, 1);
}

.sale-description {
    color: rgba(7, 2, 17, 0.6);
    font-size: 14px;
    margin-bottom: 300px;
}

.sale-offer-container {
    position: relative;
    /* relative means by keeping this image fixed  */
}

.sale-offer-content {
    width: 100%;

}

.sale-offer-img{
    position: absolute;
    /* absolute means move this image */
    left: 10px;
    top: -200px; 
    display: flex;
    gap: 15px;
}

.sale-img-one{
    width: 50%;
    position: relative;
    /* relative means by keeping this image fixed  */
}

.sale-img-two{
    width: 40%;
    position: absolute;
      /* absolute means move this image */
    right: 20px;
    top: -65px;
}